<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <!-- Site Icons -->
    <link rel="shortcut icon" href="~/images/fac.ico" type="image/x-icon" />

    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/index.css">
    <link href="~/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!---字型-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap" rel="stylesheet">

    <!--DATATABLE-->
    <link rel="stylesheet" href="~/css/cdnjs.cloudflare.com_ajax_libs_twitter-bootstrap_5.3.0_css_bootstrap.min.css">
    <link rel="stylesheet" href="~/css/cdn.datatables.net_1.13.6_css_dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="~/css/cdn.datatables.net_responsive_2.5.0_css_responsive.bootstrap5.min.css">

    <!--SweetAlert2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">




    @await RenderSectionAsync("Styles", required: false)
</head>

<body>
    <div class="d-flex">

        <ul class="SideBar text-white">

            <div class="mb-3">
                <div>
                    <span class="close-icon" onclick="closeSideBar()">
                        <i class="far fa-times-circle d-md-none"></i>
                    </span>
                    <img src="~/images/logo.png" class="dashboard-logo-img" />

                    <h5 class="dashboard-title">後台管理中心</h5>
                </div>
                

            </div>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <li class="nav-item active">
                <a class="nav-link" asp-area="AdminCMS" asp-controller="DataAnalysis" asp-action="DataAnalysis">

                    <i class="fas fa-chart-pie"></i>
                    <span class="title">數據分析</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/AdminCMS/Member/Member">
                    <i class="fas fa-user"></i>
                    <span class="title">會員管理</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne"
                   aria-expanded="false" aria-controls="collapseOne">
                    <i class="fas fa-shopping-bag"></i>
                    <span class="title">商城管理</span>
                    <i class="fas fa-angle-up"></i>
                </a>

                <div id="collapseOne" class="collapse drop-animation" aria-labelledby="headingOne"
                     data-parent="#accordionSidebar">
                    <div class="bg-white text-dark py-2 collapse-inner rounded">
                        <div class="center">
                            <ul class="sidebar-detail-ul">
                                <li><a asp-area="AdminCMS" asp-controller="Order" asp-action="Order">商城訂單管理</a></li>
                                <li><a asp-area="AdminCMS" asp-controller="Product" asp-action="Product">產品管理</a></li>
                                <li><a asp-area="AdminCMS" asp-controller="Bonus" asp-action="Bonus">優惠券管理</a></li>
                                <li><a asp-area="AdminCMS" asp-controller="Return" asp-action="Return">退換貨管理</a></li>
                                <li><a asp-area="AdminCMS" asp-controller="ProductReview" asp-action="ProductReview">產品評論管理</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>


            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                   aria-expanded="false" aria-controls="collapseTwo">
                    <i class="fas fa-gamepad"></i>
                    <span class="big-title">遊戲管理</span>
                    <i class="fas fa-angle-up"></i>
                </a>
                <div id="collapseTwo" class="collapse drop-animation" aria-labelledby="headingTwo"
                     data-parent="#accordionSidebar">
                    <div class="bg-white text-dark py-2 collapse-inner rounded">
                        <div class="center">
                            <ul class="sidebar-detail-ul">
                                <li><a asp-area="AdminCMS" asp-controller="GameProduct" asp-action="GameProduct">商品管理</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-area="AdminCMS" asp-controller="Service" asp-action="Service">
                    <i class="fas fa-headset"></i>
                    <span class="title">客服回覆</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">


            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree"
                   aria-expanded="false" aria-controls="collapseThree">
                    <i class="fab fa-html5"></i>
                    <span class="title">網頁管理</span>
                    <i class="fas fa-angle-up"></i>
                </a>
                <div id="collapseThree" class="collapse drop-animation" aria-labelledby="headingTwo"
                     data-parent="#accordionSidebar">
                    <div class="bg-white text-dark py-2 collapse-inner rounded">
                        <div class="center">
                            <ul class="sidebar-detail-ul">
                                <li><a asp-area="AdminCMS" asp-controller="Banner" asp-action="Banner">橫幅</a></li>
                                <li><a asp-area="AdminCMS" asp-controller="News" asp-action="News">公告消息</a></li>
                                <li><a asp-area="AdminCMS" asp-controller="BanUser" asp-action="Index">禁言會員</a></li>
                                <li><a asp-area="AdminCMS" asp-controller="Service" asp-action="CustomerResponse">客服聊天</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-area="AdminCMS" asp-controller="AdminManage" asp-action="AdminManage">
                    <i class="fas fa-user-shield"></i>
                    <span class="big-title">管理員</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Index" asp-action="Index" target="_blank">
                    <i class="fas fa-home"></i>
                    <span class="big-title">回商城首頁</span>
                </a>
            </li>

            <form id="logoutForm" asp-area="AdminCMS" asp-action="Logout" asp-controller="CMSHome" method="post">
                <button type="button" class="nav-link" style="cursor: pointer; border: none; background: none;" onclick="confirmLogout()">
                    <i class="fas fa-sign-out-alt"></i>
                    <span class="big-title">登出</span>
                </button>
            </form>
        </ul>

        <div id="bg-hide"></div>

        <div class="right-content d-flex flex-column">
            <navbar>
                <div class="row align-items-center">
                    <div class="col-4 d-md-none">
                        <button class="btn" onclick="showSideBar()">
                            <i class="fas fa-bars"></i>
                        </button>
                    </div>
                    <div class="col-md-12 col-8 text-end">
                        @{
                            var adminName = ViewBag.AdminName as string;

                            if (!string.IsNullOrEmpty(adminName))
                            {
                                <span class="time-colored-text fw-bold fs-6">Welcome, @adminName</span>
                            }
                            else
                            {
                                <span class="time-colored-text fw-bold">Welcome, Guest</span>
                            }
                        }
                        <img class="img-profile rounded-circle" src="~/images/AdminUserImg.png" />
                    </div>
                </div>
            </navbar>


            @RenderBody()


        </div>
    </div>

    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/index.js"></script>

    <!--DATATABLE-->
    <script src="~/js/cdn.datatables.net_1.13.6_js_jquery.dataTables.min.js"></script>
    <script src="~/js/cdn.datatables.net_1.13.6_js_dataTables.bootstrap5.min.js"></script>
    <script src="~/js/cdn.datatables.net_responsive_2.5.0_js_dataTables.responsive.min.js"></script>
    <script src="~/js/cdn.datatables.net_responsive_2.5.0_js_responsive.bootstrap5.min.js"></script>

    <!--SWEET ALERT-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!--SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

    <!--登出事件-->
    <!--用src引入會造成中文變成亂碼-->
    <script>
        function confirmLogout() {
            Swal.fire({
                title: '確定要登出嗎？',
                showCancelButton: true,
                confirmButtonText: '確定',
                cancelButtonText: '取消'
            }).then((result) => {
                if (result.isConfirmed) {
                    // 確定要登出後執行
                    document.getElementById('logoutForm').submit();
                }
            });
        }
    </script>

    @await RenderSectionAsync("Scripts",required:false)
</body>
</html>
