@{
    ViewData["Title"] = "about";
}

@section Styles{
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/about.css">
    <link rel="stylesheet" href="~/css/myCss.css">
}

<!-- Start All Title Box -->
<div class="all-title-box all-title-box-picture">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>關於我們</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Index" asp-action="Index">首頁</a></li>
                    <li class="breadcrumb-item active">關於我們</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start About Page  -->
<div class="about-box-main">
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="noo-sh-title">關於我們</h1>
            <div class="col-12">
                <p class="noo-sh-title">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt provident molestias incidunt esse quibusdam quas laudantium fugit dolor velit atque? Recusandae quo mollitia nemo rem repellat maxime, enim ex illo!
                </p>
                <div class="row m-0 p-0">
                    <img class="img-fluid" src="https://c4.wallpaperflare.com/wallpaper/101/380/61/cat-animals-bokeh-cute-wallpaper-preview.jpg" alt="" />
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-lg-12 justify-content-center">
                <h2 class="noo-sh-title">團隊成員</h2>
            </div>
            <div class="col-sm-6 col-lg-3">

                    <div class="our-team">
                        <img src="https://lh3.googleusercontent.com/pw/AIL4fc9Fw1Os83tK9wwX8Er2jLrErr33YDTTqp4r1Ocp5-hoxS2Q9-Ej4QEfLdPovAR6Uja3cvmuM931ZjXpfSE_cei3JEidBd7BArN4py7mX4erbHsYPfY=w600" alt="" />
                        <div class="team-content">
                            <h3 class="title">紀宗漢</h3> <span class="post">Teamleader</span>
                        </div>

                    <div class="icon"> <i class="fa fa-paw" aria-hidden="true"></i> </div>
                    </div>
                    <hr class="my-0">
                
            </div>
            <div class="col-sm-6 col-lg-3">
                
                    <div class="our-team">
                        <img src="https://lh3.googleusercontent.com/pw/AIL4fc-O9u8MDDa7WRGm1_AySYbMBNQebNAPThwB-6DZYsmkjqp1_4y7S7nOIntYbs1quMErPlsN7F0jfkx5JXieU36dbNtrLwmkx-qUpkg2OJVP31RvtPQ=w600" alt="" />
                        <div class="team-content">
                            <h3 class="title">羅安倫</h3> <span class="post">CTO</span>
                        </div>

                    <div class="icon"> <i class="fa fa-paw" aria-hidden="true"></i> </div>
                    </div>
                    <hr class="my-0">
                
            </div>
            <div class="col-sm-6 col-lg-3">
                
                    <div class="our-team">
                        <img src="https://lh3.googleusercontent.com/pw/AIL4fc9sGJDvdyjZrSBSUOdnv62PKJzNBypVAtc4yGBYhUh5iLvZ8c4k1Ub5rm76PcWfD07UkEp5s_tAQz4uuyNpIRIz2Mme2RfwfmXgoPtzf9MJpDjnGeI=w600" alt="" />
                        <div class="team-content">
                            <h3 class="title">梁舒絨</h3> <span class="post">Full-Stack Developer</span>
                        </div>

                    <div class="icon"> <i class="fa fa-paw" aria-hidden="true"></i> </div>
                    </div>
                    <hr class="my-0">
                
            </div>
            <div class="col-sm-6 col-lg-3">

                    <div class="our-team">
                        <img src="https://lh3.googleusercontent.com/pw/AIL4fc_TDgh8uoAIbsqFbNm98zVkiZDGgiTF6mDVJIKU9kvuf-9g0TDcE1iEuJ4Q7XOzL6-1M8cZO3yirptdJM4QV_AXmWvDA_YiHmanb4pr7TUC05nwovA=w600" alt="" />
                        <div class="team-content">
                            <h3 class="title">洪翔玟</h3> <span class="post">Full-Stack Developer</span>
                        </div>
                    <div class="icon"> <i class="fa fa-paw" aria-hidden="true"></i> </div>
                    </div>
                    <hr class="my-0">
            </div>
            <div class="col-sm-6 col-lg-3 mt-1">

                    <div class="our-team">
                        <img src="https://lh3.googleusercontent.com/pw/AIL4fc8l1hazsqY4KzvvNcuwrdL-usfWOie0gd4l5dE_uUcQL7DCp4rNx3vkK-qJDsfPCs2QyNt6nfz1WBR_6TWtlkCxGmHiKrGW6zOtUqRMW5ZumFvm5iY=w600" alt="" />
                        <div class="team-content">
                            <h3 class="title">李予晴</h3> <span class="post">Full-Stack Developer</span>
                        </div>
                    <div class="icon"> <i class="fa fa-paw" aria-hidden="true"></i> </div>
                    </div>
                    <hr class="my-0">
            </div>
            <div class="col-sm-6 col-lg-3 mt-1">

                    <div class="our-team">
                        <img src="https://lh3.googleusercontent.com/pw/AIL4fc8fgkapswqgVn6PqLgPyWmrjAXiG2loqUEVB5GQISGafmJnDHccrvl-Tv3diYC_w66EtJMuAHZB3Ox9VfAyjp1Ac0YeSfCGHLHz2euLHio1u0xgR7A=w600" alt="" />
                        <div class="team-content align-items-center">
                            <h3 class="title">張宇玄</h3> <span class="post">Full-Stack Developer</span>
                        </div>
                    <div class="icon"> <i class="fa fa-paw" aria-hidden="true"></i> </div>
                    </div>
                    <hr class="my-0">
            </div>
            <div class="col-sm-6 col-lg-3 mt-1">
                    <div class="our-team">
                        <img src="https://lh3.googleusercontent.com/pw/AIL4fc833LbziQ-tl2LLc14bISDt8Hv-3wCyt2siwYZtC-NAUZ9rybPcww9T8244BDl_ZkZPTfXfurAV_IkpFdfnsNSWgeVgZc3ubnYANjmMRoxJMN_mdDE=w600" alt="" />
                        <div class="team-content">
                            <h3 class="title">莊耀霖</h3> <span class="post">Full-Stack Developer</span>
                        </div>
                    <div class="icon"> <i class="fa fa-paw" aria-hidden="true"></i> </div>
                    </div>
                    <hr class="my-0">
            </div>
            <div class="col-sm-6 col-lg-3 mt-1">
                    <div class="our-team">
                        <img src="https://lh3.googleusercontent.com/pw/AIL4fc82oyLwHClxQQ9y9ekMRnyZPpCoObtpPqQ3L05-TyRHtSawBTR6G1EzKOhXzCRwDnNF1xISNuhkm1TcFJTotZ2eh9836LH4l8bWtAQVw9BVNowaUlw=w600" alt="" />
                        <div class="team-content">
                            <h3 class="title">江柏勳</h3> <span class="post">Full-Stack Developer</span>
                        </div>
                    <div class="icon"> <i class="fa fa-paw" aria-hidden="true"></i> </div>
                    </div>
                    <hr class="my-0">
                </div>
        </div>
    </div>
</div>
<!-- End About Page -->
@section Scripts{
    <!-- ALL JS FILES -->
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="~/js/jquery.superslides.min.js"></script>
    <script src="~/js/bootstrap-select.js"></script>
    <script src="~/js/inewsticker.js"></script>
    <script src="~/js/bootsnav.js."></script>
    <script src="~/js/images-loded.min.js"></script>
    <script src="~/js/isotope.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/baguetteBox.min.js"></script>
    <script src="~/js/form-validator.min.js"></script>
    <script src="~/js/contact-form-script.js"></script>
    <script src="~/js/custom.js"></script>
}


