@{
    ViewData["Title"] = "ShowMemeberInfo";
    Layout = "~/Areas/AdminCMS/Views/Shared/CMS_Layout.cshtml";
}

@section Styles{
    <style>
        .RequiredText, .error-message {
            color: #b95756;
        }

        .toggle-password {
            cursor: pointer;
            user-select: none;
        }

        /*密碼眼睛位置*/
        .password-container {
            position: relative;
        }

        .toggle-password {
            position: absolute;
            top: 50%;
            right: 10px; /* 調整此值以控制圖標與輸入框的距離 */
            transform: translateY(-50%);
            cursor: pointer;
        }
    </style>
}

<div class="middle-content">

    <div class="row  align-items-center">
        <div class="col-6">
            <h2 class="mt-3">會員管理</h2>
        </div>
        <div class="col-6 text-end mt-3">
            <button class="create_btn" data-bs-toggle="modal" href="#addMemberModalToggle" role="button">新增會員</button>
        </div>
    </div>

    <!---新增會員 modal-->
    <div class="modal fade" id="addMemberModalToggle" aria-hidden="true"
         aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel">新增會員</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group mb-2">
                        <label>姓名</label><span class="RequiredText"> *必填</span>
                        <input type="text" class="form-control" id="CreatName" name="Name">
                    </div>

                    <div class="form-group mb-2">
                        <label>帳號</label><span class="RequiredText"> *必填</span>
                        <input type="email" class="form-control" id="CreatMemberAccount" name="MemberAccount" onblur="CheckDuplicateAccount()" onfocus="hideErrorMessage()" placeholder="請輸入電子信箱">
                        <span id="duplicateMessage" style="display:none;color:red;" class="alert alert-danger"></span>
                        <span id="error1" class="error-message"></span>
                    </div>

                    <div class="form-group mb-2">
                        <label>密碼</label><span class="RequiredText"> *必填</span>
                        <div class="password-container">
                            <input type="password" class="form-control" id="CreatMemberPassword" name="Password">
                            <span id="togglePassword" class="toggle-password"><i class="fas fa-eye"></i></span>
                        </div>
                        <span id="error3" class="error-message"></span>
                    </div>

                    <div class="form-group mb-2">
                        <label>確認密碼</label><span class="RequiredText"> *必填</span>
                        <input type="password" class="form-control" id="CreatMemberCheckPassword">
                        <span id="error4" class="error-message"></span>
                    </div>

                    <div class="form-group mb-2">
                        <label>性別</label><span class="RequiredText"> *必填</span>
                        <select class="form-control" id="CreatGender" name="Gender">
                            <option value="男">男</option>
                            <option value="女">女</option>
                            <option value="其他">其他</option>
                        </select>
                    </div>

                    <div class="form-group mb-2">
                        <label>生日</label><span class="RequiredText"> *必填</span>
                        <input type="date" class="form-control" id="CreatBirthday" name="Birthday" onfocus="this.showPicker()">
                    </div>

                    <div class="form-group mb-2">
                        <label>E-mail</label><span class="RequiredText"> *必填</span>
                        <input type="email" class="form-control" id="CreatEmail" name="Email">
                        <span id="error2" class="error-message"></span>
                    </div>

                    <div class="form-group mb-2">
                        <label>電話</label><span class="RequiredText"> *必填</span>
                        <input type="text" class="form-control" id="CreatPhoneNumber" name="PhoneNumber">
                    </div>

                    <div class="form-group mb-2">
                        <label>地址</label>
                        <input type="text" class="form-control" id="CreatAddress" name="Address">
                    </div>

                    <div class="form-group mb-3">
                        <label>會員狀態：</label>
                        <select class="form-control" id="CreatMemberStatus" name="MemberStatus">
                            <option value="true">開放</option>
                            <option value="false">凍結</option>
                        </select>
                    </div>

                    <button id="CreatMember" class="btn btn-danger btn-block"
                            style="width: 100%;">
                        儲存
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!---新增會員 modal-->

    <div class="search-row row mt-3 mb-3">
        <div class="row align-items-center mb-3">
            會員狀態：
            <select class="form-select w-25" id="payList">
                <option value="" selected>全部資料</option>
                <option value="true">開放</option>
                <option value="false">凍結</option>
            </select>
        </div>
        <div class="row align-items-center mb-3">
            關鍵字搜尋：
            <input type="text" class="form-control" style="width:25%;" />
        </div>

        <button type="button" class="keyword_input col-xl-1 col-lg-2 col-md-3 col-sm-2 col-3">查詢</button>
    </div>

    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-12 col-xs-12">
                <!--表格-->
                <table id="member-table" class="table table-striped nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>姓名</th>
                            <th>帳號</th>
                            <th>性別</th>
                            <th>E-mail</th>
                            <th>電話</th>
                            <th>狀態</th>
                            <th>詳細資料</th>
                            <th>編輯</th>
                        </tr>
                    </thead>
                </table>
                <!--表格-->
                <!---詳細資料model-->
                <div class="modal fade" id="DetailModalToggle" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content" style="height: 650px;overflow: auto;">
                            <div class="modal-header">
                                <h5 class="modal-title bg-dark text-white" id="exampleModalToggleLabel">
                                    其他資訊
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <button class="nav-link active" id="nav-home-tab"
                                                data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
                                                role="tab">
                                            基本資料
                                        </button>
                                        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
                                                data-bs-target="#nav-profile" type="button"
                                                role="tab">
                                            遊戲資訊
                                        </button>
                                        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab"
                                                data-bs-target="#nav-contact" type="button"
                                                role="tab">
                                            常用地址
                                        </button>
                                        <button class="nav-link" id="nav-contact2-tab" data-bs-toggle="tab"
                                                data-bs-target="#nav-paper" type="button"
                                                role="tab">
                                            會員優惠券
                                        </button>
                                    </div>
                                </nav>
                                <div class="tab-content" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                         aria-labelledby="nav-home-tab">
                                        <p id="memberId"></p>
                                        <p id="name"></p>
                                        <p id="memberAccount"></p>
                                        <p id="gender"></p>
                                        <p id="birthday"></p>
                                        <p id="email"></p>
                                        <p id="phoneNumber"></p>
                                        <p id="address"></p>
                                        <p id="registrationTime"></p>
                                        <p id="lastLoginTime"></p>
                                        <p id="memberStatus"></p>
                                    </div>
                                    <div class="tab-pane fade" id="nav-profile" role="tabpanel">
                                        <p id="levelId"></p>
                                        <p id="characterName"></p>
                                        <p id="catCoinQuantity"></p>
                                        <p id="loyaltyPoints"></p>
                                        <p id="runGameHighestScore"></p>
                                    </div>
                                    <div class="tab-pane fade" id="nav-contact" role="tabpanel">
                                        <div id="commonaddressContainer"></div>
                                    </div>
                                    <div class="tab-pane fade" id="nav-paper" role="tabpanel">
                                        <div id="couponContainer"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--詳細資料model-->
                <!--編輯彈出視窗-->
                <div class="modal fade" id="EditModalToggle" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalToggleLabel">編輯會員資料</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <button class="nav-link active" id="nav-home-tab"
                                                data-bs-toggle="tab"
                                                data-bs-target="#member-edit-nav-home" type="button"
                                                role="tab">
                                            基本資料
                                        </button>
                                        <button class="nav-link" id="nav-profile-tab"
                                                data-bs-toggle="tab"
                                                data-bs-target="#member-edit-nav-profile" type="button"
                                                role="tab">
                                            遊戲資訊
                                        </button>
                                        @* <button class="nav-link" id="nav-contact-tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#member-edit-nav-contact" type="button"
                                        role="tab">
                                        常用地址
                                        </button> *@
                                        @*                                         <button class="nav-link" id="nav-contact2-tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#member-edit-nav-paper" type="button"
                                        role="tab">
                                        會員優惠券
                                        </button> *@
                                    </div>
                                </nav>
                                <div class="tab-content" id="nav-tabContent">
                                    <div class="tab-pane fade show active"
                                         id="member-edit-nav-home">
                                        <input type="hidden" class="form-control" id="memberId_edit" disabled readonly>

                                        <div class="form-group mb-2">
                                            <label>姓名：</label>
                                            <input type="text" class="form-control" id="name_edit">
                                        </div>

                                        <div class="form-group mb-2">
                                            <input type="hidden" class="form-control" id="memberAccount_edit" disabled readonly>
                                        </div>

                                        <div class="form-group mb-2">
                                            <label>性別：</label>
                                            <select class="form-control" id="gender_edit">
                                                <option value="男">男</option>
                                                <option value="女">女</option>
                                                <option value="其他">其他</option>
                                            </select>
                                        </div>

                                        <div class="form-group mb-2">
                                            <label>生日：</label>
                                            <input type="date" class="form-control" id="birthday_edit" onfocus="this.showPicker()">
                                        </div>

                                        <div class="form-group mb-2">
                                            <label>E-mail：</label>
                                            <input type="email" class="form-control" id="email_edit">
                                        </div>

                                        <div class="form-group mb-2">
                                            <label>電話：</label>
                                            <input type="text" class="form-control" id="phoneNumber_edit">
                                        </div>

                                        <div class="form-group mb-2">
                                            <label>地址：</label>
                                            <input type="text" class="form-control" id="address_edit">
                                        </div>

                                        <div class="form-group mb-2">
                                            <label>會員狀態：</label>
                                            <select class="form-control" id="memberStatus_edit">
                                                <option value="true">開放</option>
                                                <option value="false">凍結</option>
                                            </select>
                                        </div>

                                        <button class="btn btn-danger btn-block mt-2 EditMember_Save"
                                                style="width: 100%;">
                                            儲存
                                        </button>
                                    </div>
                                    <div class="tab-pane fade" id="member-edit-nav-profile">
                                        <div class="form-group">
                                            <label>等級：</label>
                                            <input type="number" class="form-control" id="levelId_edit">
                                        </div>

                                        <div class="form-group">
                                            <label>遊戲角色名稱：</label>
                                            <input type="text" class="form-control" id="characterName_edit">
                                        </div>

                                        <div class="form-group">
                                            <label>貓幣數量：</label>
                                            <input type="number" class="form-control" id="catCoinQuantity_edit">
                                        </div>

                                        <div class="form-group">
                                            <label>紅利數量：</label>
                                            <input type="number" class="form-control" id="loyaltyPoints_edit">
                                        </div>

                                        <button type="submit" class="btn btn-danger btn-block EditMember_Save"
                                                style="width: 100%;">
                                            儲存
                                        </button>
                                    </div>
                                    @* <div class="tab-pane fade" id="member-edit-nav-contact">
                                    <div class="form-group">
                                    <label>Address ID：</label>

                                    <input type="text" class="form-control">
                                    </div>

                                    <div class="form-group">
                                    <label>Recipient Name：</label>
                                    <input type="text" class="form-control">
                                    </div>

                                    <div class="form-group">
                                    <label>Recipient Phone：</label>
                                    <input type="text" class="form-control">
                                    </div>

                                    <div class="form-group">
                                    <label>Recipient Address：</label>
                                    <input type="text" class="form-control">
                                    </div>

                                    <button class="btn btn-danger btn-block"
                                    style="width: 100%;">
                                    儲存
                                    </button>
                                    </div> *@
                                    @*                                     <div class="tab-pane fade" id="member-edit-nav-paper">
                                    <div style="border: 1px solid #000;">
                                    <p>折價券ID：2</p>
                                    <p>折價券內容：滿500折10</p>
                                    <p>使用狀態：未使用</p>
                                    <p>優惠券狀態：_______(此欄待確認)</p>
                                    <button class="btn btn-danger btn-block" style="width: 100%"
                                    onclick="userDelete()">
                                    刪除
                                    </button>
                                    </div>
                                    </div> *@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--編輯彈出視窗-->

            </div>
        </div>
    </div>
</div>

@section Scripts{

    <!--Moment.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"></script>

    <script>
        var isVaild = ""; //驗證bool
        //==========丟資料給DataTables前先console.log json 出來看結構是長怎樣
        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("ShowMemeberInfo", "Member")',
                type: 'GET',
                success: function (data) {
                    console.log(data);
                },
                error: function (error) {
                    console.log(error);
                }
            });
            //==========丟資料給DataTables前先console.log json 出來看結構是長怎樣

            //==========禁止使用者選擇生日為未來日期
            // 獲取現在日期
            var currentDate = new Date();
            // 將日期格式化為YYYY-MM-DD格式
            var formattedDate = currentDate.toISOString().split('T')[0];
            // 設置MaxDate属性
            $("#CreatBirthday").attr("max", formattedDate);
            $('#birthday_edit').attr("max", formattedDate);

            // 監聽輸入事件，攔截輸入過程
            $("#CreatBirthday, #birthday_edit").on("input", function () {
                var inputDate = new Date($(this).val());

                if (inputDate > currentDate) {
                    // 如果輸入的日期大於當前日期，重置輸入框的值為最大日期
                    $(this).val(formattedDate);
                }
            });

            //==============密碼眼睛
            $('#togglePassword').click(function () {
                if ($('#CreatMemberPassword').attr('type') === 'password') {
                    $('#CreatMemberPassword').attr('type', 'text');
                } else {
                    $('#CreatMemberPassword').attr('type', 'password');
                }
            });

            function validateEmail(input, error) {
                input.on("blur", function () {
                    if (!isValidEmail(input.val())) {
                        error.text("Email格式不正確");
                        isVaild = false;
                    } else {
                        error.text("");
                        isVaild = true;
                    }
                });
            }

            function validatePassword(input, error) {
                input.on("blur", function () {
                    if (!isValidPassword(input.val())) {
                        error.text("密碼需包含至少一個英文字母和一個數字，且長度至少8字元");
                        isVaild = false;
                    } else {
                        error.text("");
                        isVaild = true;
                    }
                });
            }

            function validateCheckPassword(input, error) {
                input.on("blur", function () {
                    if (!isValidCheckPassword(input.val())) {
                        error.text("密碼與確認密碼不相符");
                        isVaild = false;
                    } else {
                        error.text("");
                        isVaild = true;
                    }
                });
            }

            //==================驗證帳號信箱格式是否正確
            function isValidEmail(email) {
                const emailRegex = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
                return emailRegex.test(email);
            }

            //==================驗證密碼格式是否正確
            function isValidPassword(password) {
                // 包含至少一個英文字母和一個數字和至少8字元
                if (password.length < 8) {
                    return false;
                } else {
                    const containsLetter = /[a-zA-Z]/.test(password);
                    const containsNumber = /\d/.test(password);

                    return containsLetter && containsNumber;
                }
            }

            //==================驗證確認密碼與密碼兩者是否相符
            function isValidCheckPassword(check_password) {
                var pwd = $('#CreatMemberPassword').val();

                if (check_password !== pwd) {
                    return false;
                } else {
                    return true;
                }
            }

            validateEmail($("#CreatMemberAccount"), $("#error1"));
            validateEmail($("#CreatEmail"), $("#error2"));
            validatePassword($("#CreatMemberPassword"), $("#error3"));
            validateCheckPassword($("#CreatMemberCheckPassword"), $("#error4"));
        });


        //==================datatable
        $('#member-table').DataTable({
            "ajax": '@Url.Action("ShowMemeberInfo", "Member")',
            "columns": [
                //這裡要注意json裡面是大寫還是小寫
                { data: 'memberId' },
                { data: 'name' },
                { data: 'memberAccount' },
                { data: 'gender' },
                { data: 'email' },
                { data: 'phoneNumber' },
                {
                    data: 'memberStatus',
                    render: function (data, type, row, meta) {
                        if (data) {
                            return '開放';
                        } else {
                            return '凍結';
                        }
                    }
                },
                {
                    data: null, // 這裡設置為 null，因為我們會在 render 中創建按鈕
                    render: function (data, type, row, meta) {
                        return '<button class="detail_input" data-bs-toggle="modal" href="#DetailModalToggle" role="button" data-memberid="' + row.memberId + '">詳細資料</button>';
                    }
                },
                {
                    data: null,
                    render: function (data, type, row, meta) {
                        var editButton = '<button class="btn edit_memberbtn" data-bs-toggle="modal" href="#EditModalToggle" role="button" data-memberid="' + row.memberId + '"><i class="fas fa-edit"></i></button>';
                        return editButton;
                    }
                },
            ],
            "paging": true, //分頁功能
            responsive: true, //RWD
            "searching": false, //隱藏搜尋框
        });

        //==================按下「詳細資料」按鈕的點擊事件處理
        $('#member-table').on('click', '.detail_input', function () {
            var memberId = $(this).data('memberid'); // 從按鈕的 data-memberid 屬性中獲取 memberId
            // console.log('Clicked on "詳細資料" button for memberId:', memberId);

            //----------------AJAX
            $.ajax({
                url: '@Url.Action("GetMemberDetails", "Member")',
                type: 'GET',
                data: { id: memberId }, // id=>這個名稱要確保欄位跟controller的參數名稱相同（傳遞會員ID或其他必要的參數）
                success: function (data) {
                    // console.log(data);

                    //============基本資料
                    $('#memberId').text("ID：" + data.data.memberId);
                    $('#name').text("姓名：" + data.data.name);
                    $('#memberAccount').text("帳號：" + data.data.memberAccount);
                    $('#gender').text("性別：" + data.data.gender);
                    $('#birthday').text("生日：" + data.data.birthday);
                    $('#email').text("E-mail：" + data.data.email);
                    $('#phoneNumber').text("電話：" + data.data.phoneNumber);
                    $('#address').text("地址：" + data.data.address);
                    $('#registrationTime').text("註冊日期：" + data.data.registrationTime);
                    $('#lastLoginTime').text("最後登入：" + data.data.lastLoginTime);

                    if (data.data.memberStatus == true) {
                        $('#memberStatus').text("會員狀態：開放");
                    } else {
                        $('#memberStatus').text("會員狀態：凍結");
                    }

                    //============遊戲資料
                    $('#levelId').text("等級：" + data.data.levelId);
                    $('#characterName').text("遊戲角色名稱：" + data.data.characterName);
                    $('#catCoinQuantity').text("貓幣數量：" + data.data.catCoinQuantity);
                    $('#loyaltyPoints').text("紅利數量：" + data.data.loyaltyPoints);
                    $('#runGameHighestScore').text("遊戲最高分數：" + data.data.runGameHighestScore);

                    //===========常用地址
                    var CAContainer = $("#commonaddressContainer");
                    CAContainer.text(""); // 每次抓都要reset掉，讓之前append的地址才不會存在

                    if (data.data.shopCommonAddressData.length != 0) {
                        for (var i = 0; i < data.data.shopCommonAddressData.length; i++) {

                            var item = data.data.shopCommonAddressData[i];

                            var itemDiv = document.createElement("div");
                            var addressNumber = i + 1; //計算幾筆資料的數字

                            itemDiv.innerHTML = `
                                                                                                                                                <h5><b>常用地址－${addressNumber}</b></h5>
                                                                                                                                                <p>收件人姓名: ${item.recipientName}</p>
                                                                                                                                                <p>連絡電話: ${item.recipientPhone}</p>
                                                                                                                                                <p>收件地址: ${item.recipientAddress}</p>
                                                                                                                                        <hr>
                                                                                                                                    `;
                            CAContainer.append(itemDiv);
                        }
                    } else {
                        CAContainer.text("此會員尚未新增任何常用地址");
                    }


                    //===========優惠券專區
                    var couponContainer = $("#couponContainer");
                    couponContainer.text("");

                    if (data.data.shopCommonAddressData.length != 0) {
                        for (var i = 0; i < data.data.shopMemberCouponData.length; i++) {

                            var item = data.data.shopMemberCouponData[i];

                            var itemDiv = document.createElement("div");
                            var couponNumber = i + 1; //計算幾筆資料的數字

                            itemDiv.innerHTML = `
                                                                                                                                                        <h5><b>優惠券－${couponNumber}</b></h5>
                                                                                                                                                                <p>優惠券ID: ${item.couponId}</p>
                                                                                                                                                                        <p>優惠券內容: ${item.coupon.couponContent}</p>
                                                                                                                                                                                <p>有效日期: ${item.coupon.expiryDate}</p>
                                                                                                                                                                <p>優惠券狀態: ${item.couponStatusId}</p>
                                                                                                                                        <hr>
                                                                                                                                    `;
                            couponContainer.append(itemDiv);
                        }
                    } else {
                        couponContainer.text("此會員未持有優惠券");
                    }
                },
                error: function (error, a, b) {
                    console.log(error);
                    console.log(a);
                    console.log(b);
                    console.log("Error retrieving member details.");
                }
            });
        });

        //==================按下「編輯」按鈕的點擊事件處理
        $('#member-table').on('click', '.edit_memberbtn', function () {
            var memberId = $(this).data('memberid'); // 從按鈕的 data-memberid 屬性中獲取 memberId

            //----------------AJAX
            $.ajax({
                url: '@Url.Action("EditMemeber", "Member")',
                type: 'GET',
                data: { id: memberId }, // id=>這個名稱要確保欄位跟controller的參數名稱相同（傳遞會員ID或其他必要的參數）
                success: function (data) {
                    console.log(data);

                    //==================基本資料
                    $('#memberId_edit').val(data.data.memberId);
                    $('#name_edit').val(data.data.name);
                    $('#memberAccount_edit').val(data.data.memberAccount);
                    $('#gender_edit').val(data.data.gender);

                    //生日日期轉換：use Moment.js
                    var date = moment(data.data.birthday);
                    // 格式化日期為 yyyy-MM-dd 格式
                    var formattedDate = date.format("YYYY-MM-DD");
                    $('#birthday_edit').val(formattedDate);

                    $('#email_edit').val(data.data.email);
                    $('#phoneNumber_edit').val(data.data.phoneNumber);
                    $('#address_edit').val(data.data.address);

                    if (data.data.memberStatus == null) {
                        $('#memberStatus_edit').val("true");
                    } else {
                        $('#memberStatus_edit').val(data.data.memberStatus.toString());
                    }

                    //==================遊戲資料
                    $('#levelId_edit').val(data.data.levelId);
                    $('#characterName_edit').val(data.data.characterName);
                    $('#catCoinQuantity_edit').val(data.data.catCoinQuantity);
                    $('#loyaltyPoints_edit').val(data.data.loyaltyPoints);
                }
            });
        });

        //==================編輯資料後，按下「儲存」按鈕的點擊事件處理
        $('.EditMember_Save').click(function () {

            //==============送出前先驗證信箱格式
            var email = $('#email_edit').val();
            const emailRegex = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;

            if (!emailRegex.test(email)) {
                Swal.fire({
                    icon: 'error',
                    title: 'email格式有誤',
                    text: '請重新輸入'
                });
                return;
            }

            //==================基本資料
            var MemberId = $('#memberId_edit').val();
            var Name = $('#name_edit').val();
            var MemberAccount = $('#memberAccount_edit').val();
            var Gender = $('#gender_edit').val();
            var Birthday = $('#birthday_edit').val();

            var Email = $('#email_edit').val();
            var PhoneNumber = $('#phoneNumber_edit').val();
            var Address = $('#address_edit').val();
            var MemberStatus = $('#memberStatus_edit').val();

            //==================遊戲資料
            var LevelId = $('#levelId_edit').val();
            var CharacterName = $('#characterName_edit').val();
            var CatCoinQuantity = $('#catCoinQuantity_edit').val();
            var LoyaltyPoints = $('#loyaltyPoints_edit').val();

            var editMember = {
                MemberId: MemberId,
                Name: Name,
                MemberAccount: MemberAccount,
                Gender: Gender,
                Birthday: Birthday,
                Email: Email,
                PhoneNumber: PhoneNumber,
                Address: Address,
                MemberStatus: MemberStatus,
                LevelId: LevelId,
                CharacterName: CharacterName,
                CatCoinQuantity: CatCoinQuantity,
                LoyaltyPoints: LoyaltyPoints
            };

            $.ajax({
                url: '/AdminCMS/Member/UpdateMember',
                type: 'POST',
                data: { editMember: editMember },
                success: function (response) {
                    if (response.success) {
                        // 更新成功的處理
                        // 顯示成功訊息
                        Swal.fire({
                            icon: 'success',
                            title: '編輯成功',
                            text: response.message
                        });

                        // 關閉modal
                        $('#EditModalToggle').modal('hide');

                        // 重新整理dataTable
                        $('#member-table').DataTable().ajax.reload(); // 這將重新載入dataTable的資料
                    } else {
                        // 更新失敗
                        Swal.fire({
                            icon: 'error',
                            title: '失敗',
                            text: response.message
                        });
                    }
                },
                error: function (error) {
                    // 錯誤處理
                    // 會員編輯失敗，顯示錯誤訊息
                    console.log(error);
                }
            });
        })


        var CheckAccResult = ""; //將帳號是否已存在的結果，設成全域變數給儲存按鈕做驗證

        //====================離開input 驗證帳號是否重複
        function CheckDuplicateAccount() {
            var account = $('#CreatMemberAccount').val(); //抓到使用者輸入的帳號

            if (account === "") { //當輸入框為空時，隱藏錯誤消息
                hideErrorMessage();
                CheckAccResult = "";
                return;
            }

            //===============打API驗證姓名是否已存在
            //資料庫有的帳號：catCha2、catCha
            $.ajax({
                url: '/AdminCMS/Member/CheckDuplicateAccount',
                type: 'GET',
                data: { account: account },
                success: function (result) {
                    // console.log(result)
                    CheckAccResult = result.isDuplicate;

                    if (result.isDuplicate) { //如果等於true
                        CheckAccResult = result.isDuplicate;
                        $('#duplicateMessage').text("此帳號已存在");
                        $('#duplicateMessage').css("display", "block"); //顯示錯誤訊息

                    } else {
                        CheckAccResult = result.isDuplicate;
                        $('#duplicateMessage').text("");
                        $('#duplicateMessage').css("display", "none"); //顯示錯誤訊息
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }

        function hideErrorMessage() {
            $('#duplicateMessage').css("display", "none");
        }


        //====================新增會員
        $('#CreatMember').click(function () {

            var Name = $('#CreatName').val();
            var MemberAccount = $('#CreatMemberAccount').val();
            var Password = $('#CreatMemberPassword').val();
            var CheckPassword = $('#CreatMemberCheckPassword').val();
            var Gender = $('#CreatGender').val();
            var Birthday = $('#CreatBirthday').val();
            var Email = $('#CreatEmail').val();
            var PhoneNumber = $('#CreatPhoneNumber').val();
            var Address = $('#CreatAddress').val();
            var MemberStatus = $('#CreatMemberStatus').val();

            // 檢查必填欄位是否有值
            if (!Name || !MemberAccount || !Password || !CheckPassword || !Gender || !Birthday || !Email || !PhoneNumber) {
                Swal.fire({
                    icon: 'error',
                    title: '錯誤',
                    text: '請填寫所有必填欄位。'
                });
                return; // 不執行後續動作
            }

            // 檢查帳號是否已存在或者isVaild只要是false就return
            if (CheckAccResult == true || isVaild == false) {
                return; // 不執行後續動作
            }

            var newMember = {
                Name: Name,
                MemberAccount: MemberAccount,
                Gender: Gender,
                Birthday: Birthday,
                Email: Email,
                PhoneNumber: PhoneNumber,
                Address: Address,
                MemberStatus: MemberStatus,
            };

            try {
                $.ajax({
                    url: '/AdminCMS/Member/AddMember',
                    type: 'POST',
                    data: { newMember: newMember },
                    success: function (response) {
                        // console.log(result)
                        if (response.success) {
                            Swal.fire({
                                icon: 'success',
                                title: '新增成功',
                                text: response.message
                            });

                            // 關閉modal
                            $('#addMemberModalToggle').modal('hide');

                            // 重新整理dataTable
                            $('#member-table').DataTable().ajax.reload(); // 這將重新載入dataTable的資料
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: '錯誤',
                                text: response.message
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        Swal.fire({
                            icon: 'error',
                            title: '錯誤',
                            text: "An error occurred: " + xhr.responseText
                        });
                    }
                });
            } catch (error) {
                console.error('Error:', error);
            }
        });

                                                                                                            // function userDelete() {
                                                                                                            //     Swal.fire({
                                                                                                            //         title: '確定要刪除嗎?',
                                                                                                            //         icon: 'warning',
                                                                                                            //         showCancelButton: true,
                                                                                                            //         confirmButtonColor: '#3085d6',
                                                                                                            //         cancelButtonColor: '#d33',
                                                                                                            //         confirmButtonText: 'Yes, delete it!'
                                                                                                            //     }).then((result) => {
                                                                                                            //         if (result.isConfirmed) {
                                                                                                            //             Swal.fire(
                                                                                                            //                 'Deleted!',
                                                                                                            //                 'Your file has been deleted.',
                                                                                                            //                 'success'
                                                                                                            //             )
                                                                                                            //         }
                                                                                                            //     })
                                                                                                            // }
    </script>
}
