

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/custom.css">
    <!--myCss-->
    <link rel="stylesheet" href="~/css/myCss.css">

    <style>
        .logo-wrapper:hover {
            transform: scale(1.1); /* 放大 10% */
            transition: transform 0.3s ease-in-out; /* 添加平滑效果 */
        }

        .main-top .formain-topSpan {
            color: #ffffff;
            letter-spacing: 2px;
        }
    </style>
</head>

<body style="background:#F6EBDF">
    <div class="main-top">
        <div class="d-flex justify-content-center p-2">
            <ul>
                <li>
                    <i class="fab fa-opencart" style="color:#ffff"><span class="formain-topSpan"></span></i>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-5 d-flex align-items-center justify-content-center">
                <a asp-controller="Index" asp-action="Index" class="logo-wrapper">
                    <img src="~/images/CatCha/loginlogo.png" style="width: 70%; height: auto;" />
                </a>
            </div>
            <div class="col-6 mt-2">
                <div class="text-center mt-3" style="font-size:40px">
                    <a id="loginModalLabel">重設密碼 </a>
                </div>
                <div class="modal-content">
                    <div class="row">
                        <div class="text-center">
                            <h2 class="mt-3">收到確認信了吧</h2>
                            <a>請填寫想設定的新密碼</a>

                        </div>
                    </div>
                    <div class="mt-3 row justify-content-md-center">
                        <div class="col-10">
                            <div class="">
                                <form id="resetPwdForm">
                                    <div class="row ">
                                        <div class="mb-3">
                                            <label for="NewUserPwd">新密碼：</label>
                                            <input type="text" class="form-control" id="NewUserPwd"
                                                   placeholder="新密碼" required>
                                            <div class="invalid-feedback"> 請輸入新密碼</div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="CheckUserPwd">請再次確認新密碼</label>
                                            <input type="text" class="form-control" id="CheckUserPwd"
                                                   placeholder="請再次確認新密碼" required>
                                            <div class="invalid-feedback"> 請確認新密碼</div>
                                        </div>
                                    </div>
                                    <div class="d-grid gap-2 mt-3">
                                        <button class="mb-3 btn btn-light" id="resetPwdBtn" type="button">重設密碼</button>
                                    </div>
                                </form>
                                <div class="d-flex justify-content-center">
                                    <a>想起密碼了?</a><a style="color:#0072E3" asp-controller="MemberLogin" asp-action="Login">登入</a>
                                </div>
                                <!-- 使用 Bootstrap Modal 樣式，當執行有錯誤時，顯示錯誤訊息 -->
                                <div class="modal fade" id="ErrorAlert" tabindex="-1" role="dialog">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title">錯誤訊息</h4>
                                            </div>
                                            <div class="modal-body" id="ErrorMsg" style="overflow-x:auto;width:100%;">
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.modal -->

                            </div>
                            <!--<div class="modal-footer" class="row gy-4"></div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Footer  -->
    <footer>
        <div class="footer-main mt-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-top-box">
                            <h3>營業時間</h3>
                            <ul class="list-time">
                                <li>一 - 五: 08.00am - 05.00pm</li>
                                <li>星期六: 10.00am - 08.00pm</li>
                                <li>星期日: 11.00am - 12.00pm</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-top-box">
                            <h3>訂閱我們獲得最新資訊</h3>
                            <form class="newsletter-box">
                                <div class="form-group">
                                    <input class="" type="email" name="Email" placeholder="請輸入您的電子信箱" />
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <button class="btn hvr-hover" type="submit">立即訂閱</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-top-box">
                            <h3>追蹤我們</h3>
                            <div class="mt-3">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-widget">
                            <h4>關於CatCha貓抓抓</h4>
                            <p>致力於提供最完整的產品給貓咪。</p>
                            <p>你的寶貝也是我們的寶貝。</p>
                            <p>除了購物服務，也提供各種貓咪的知識。</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link">
                            <h4>顧客服務</h4>
                            <ul>
                                <li><a href="#">防詐騙宣導</a></li>
                                <li><a href="#">退換貨政策</a></li>
                                <li><a href="#">服務條款</a></li>
                                <li><a href="#">隱私權政策</a></li>
                                <li><a href="#">運送政策</a></li>
                                <li><a href="#">常見問題</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4>聯絡我們</h4>
                            <ul>
                                <li>
                                    <p><i class="fas fa-map-marker-alt"></i>地址: 106台北市大安區 <br>復興南路一段390號2樓</p>
                                </li>
                                <li>
                                    <p><i class="fas fa-phone-square"></i>Phone: <a href="tel:02-6631-6588">02-6631-6588</a></p>
                                </li>
                                <li>
                                    <p>
                                        <i class="fas fa-envelope"></i>Email: <a href="mailto:catCha@gmail.com">catCha@gmail.com</a>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer  -->
    <!-- Start copyright  -->
    <div class="footer-copyright">
        <p class="footer-company">
            All Rights Reserved. &copy; 2023 <a href="#">catCha</a>
        </p>
    </div>
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- ALL JS FILES -->
    <!--引用Bundle，這樣nav導覽與頁籤就可以使用-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <!--引用分離(Separate)-->
    <!---->
    <!-- ALL PLUGINS -->
    <!--nav導覽與頁籤使用-->
    <script src="~/js/myScript.js"></script>
    <script>
        $(document).ready(function () {
            $('#resetPwdBtn').click(function () {
                DoResetPwd()
            })

            function DoResetPwd() {
                var form = document.forms["resetPwdForm"];
                var newPwd = form.elements["NewUserPwd"].value;
                var checkPwd = form.elements["CheckUserPwd"].value;

                if (newPwd !== checkPwd) {
                    document.querySelector('#ErrorMsg').innerHTML = "密碼不相符";
                    return;
                }

                //組合資料
                var postData = {
                    NewUserPwd: newPwd,
                    CheckUserPwd: checkPwd,
                };


                var requestOptions = {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(postData)
                };

                fetch('@Url.Action("DoResetPwd", "MemberLogin")', requestOptions)
                    .then(function (response) {
                        console.log('get response');
                        console.log(response);
                        if (response.ok == true) {
                            alert('更新成功');
                            window.location.href = '@Url.Content("~/MemberLogin/Login")';
                        }


                        return true; // 成功時返回 true
                        //if (response.ok) {
                        //        console.log('in response.ok')
                        //    console.log(response.json())
                        //    console.log('ready return json')
                        //    return response.json();
                        //} else {
                        //    throw new Error('Network response was not ok');
                        //}
                    })
                //.then(function (data) {
                //        console.log('indata')
                //        console.log(data)
                //        //console.log("Response data:", data);
                //    if (data.ErrMsg) {
                //        document.querySelector('#ErrorMsg').innerHTML = data.ErrMsg;
                //    } else {
                //        alert(data.ResultMsg);
                //        location.href = '@Url.Content("~/MemberLogin/Login")';
                //    }
                //})
                //.catch(function (error) {
                //    document.querySelector('#ErrorMsg').innerHTML = "發生錯誤: " + error.message;
                //});
            }
            var topAnnouncement = $('.formain-topSpan');
            console.log(topAnnouncement);
            $.ajax({
                url: '@Url.Action("GetTopAnnouncement","ProductApi")',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    if (data.success) {
                        topAnnouncement.text(data.message);
                    }
                    else {
                        topAnnouncement.text(data.messageWelcome);
                    }
                },
                error: function () {
                    console.log('error');
                }
            });
        });

    </script>

</body>
</html>

