.instructions-container {
    left: 5%;
    top: 120px;
    background-color: white;
    height: 350px;
    width: 370px;
    display: flex;
    /* justify-content:first baseline; */
    align-items: center;
    flex-direction: column;
    position: relative; /* 設定 .container 為相對定位 */
    border-radius: 20px; /* 設置圓角半徑為 20px */
}

.btn-secondary {
    color: black;
    font-size: 35px;
    background-color: transparent;
    margin-left: 82%;
    margin-top: 0%;
    border: none;
    font-family: initial;
    
}

.instructions {
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute; /* 設定 .instructions-container 為絕對定位 */
    top: 0; /* 距離父容器頂部的距離為 0 */
    left: 0; /* 距離父容器左側的距離為 0 */
    z-index: 1; /* 設定 z-index 為 1，使其在最上層 */
}

/* 隱藏導航箭頭
  .page-item:first-child, .page-item:last-child {
    display: none;
  }
   */
.button3 {
    display: block;
}

.xx {
    display: none;
    text-align: center;
}

.text {
    position: relative;
    top: -30px
}

#a:target, #b:target, #c:target {
    display: block;
}

.pagination-container {
    display: flex;
    margin-top: 77px; /* 調整上方距離，根據需要自行調整 */
    position: absolute;
    text-align: center;
    justify-content: center;
    left: 27%;
}

.pagination {
    display: flex;
    /* align-items: flex-end; */
}

.page-item2 {
    list-style: none; /* 移除點 */
    width: 50px;
}

.btn-outline-info {
    background-color: white;
    width: 55px;
    font-size: 5px;
    color: black;
    border: solid black 1px;
    cursor: pointer;
}
