 .result-container {
        grid-template-columns: repeat(5, 75px);
        grid-template-rows: 100px 100px 50px; /* 注意這裡第三行高度為 50px */
        padding-top: 150px;
        padding-left: 10px;
        max-width: 600px;
        width: 100%;
        height: 100%;
        text-align: center;
        border: 2px solid black;
        background-color: rgba(128, 128, 128, 0.8);
        display: none;
        place-items: center;
        font-size: 14px;
        color: white;
        font-family: 微軟正黑體;
        position:relative;
        z-index:99;
    }

        .result-container > div:nth-child(1) {
            grid-row: 2;
            grid-column: 3;
        }

        .result-container > div:nth-child(8) {
            grid-row: 1;
            grid-column: 1;
        }

    #Btn_itemOk {
        grid-row: 3;
        grid-column: 3;
    }


    .gamelayer {
        display: flex;
        justify-content: center;
        position: relative;
    }
    /* canvas {
    position: absolute;
    top: 0;
    left: 0;
  } */
    /* 遊戲畫面 */
    #Canvaslobby {
        text-align: center;
        position: relative;
        justify-content: center;
        width: 406px; /* 維持canvas的寬度為406px */
        height: 600px; /* 維持canvas的高度為600px */
        /*  display: none;*/
    }

    /*轉蛋畫面*/
    #CatchaGatCha {
        background-image: url('/images/game/summonback.png'); /* 設定背景圖片路徑 */
        background-size: cover; /* 設定背景圖片覆蓋整個按鈕 */
        background-position: center; /* 設定背景圖片居中對齊 */
        border: 4px solid black; /* 移除按鈕邊框 */
        position: relative;
        text-align: center;
        justify-content: center;
        width: 406px; /* 維持canvas的寬度為406px */
        height: 600px; /* 維持canvas的高度為600px */
        display: none;
        z-index: 99;
    }

    .Gatchagif {
        width: 100px;
        height: 100px;
    }

    .cat1_stopR {
        width: 80px;
        height: 80px;
        margin-left: 30px;
    }

    .本週加成 {
        text-align: left;
        font-size: 24px;
        margin-left: 30px;
    }

    .CatCha轉蛋機 {
        margin-top: 10px;
        text-align: center;
        font-size: 30px;
    }

    .catcha {
        margin-left: -70px;
        height: 600px;
        width: 506px;
    }

    #CanvasCheckIn {
        position: absolute;
        text-align: center;
        justify-content: center;
        width: 406px; /* 維持canvas的寬度為406px */
        height: 600px; /* 維持canvas的高度為600px */
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
    }

    #CanvasRank {
        padding-top: 76px;
        position: absolute;
        text-align: center;
        justify-content: center;
        width: 406px; /* 維持canvas的寬度為406px */
        height: 600px; /* 維持canvas的高度為600px */
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
    }


    #rank-container {
        font-family: 微軟正黑體;
        height: 450px;
        overflow-y: auto;
        padding: 5px;
        align-items: center;
        display: flex;
        flex-direction: column;
        background: white;
        margin: 10px;
        table-layout: fixed;
    }

    #rankpage-title {
        font-family: 微軟正黑體;
        font-size: 22px;
        position: absolute;
        top: 4%;
        color: floralwhite;
        background-image: url('/images/game/rankTitleBack.png');
        background-size: cover; /* 設定背景圖片覆蓋整個按鈕 */
        background-position: center; /* 設定背景圖片居中對齊 */
        width: 170px;
        height: 38px;
    }

    #Canvasrungame {
        text-align: center;
        position: relative;
        justify-content: center;
        width: 406px; /* 維持canvas的寬度為406px */
        height: 600px; /* 維持canvas的高度為600px */
        display: none;
    }

    #CanvasGatcha {
        text-align: center;
        position: relative;
        justify-content: center;
        width: 406px; /* 維持canvas的寬度為406px */
        height: 600px; /* 維持canvas的高度為600px */
        display: none;
    }

    #CanvasDoubleCheck {
        position: absolute;
        text-align: center;
        justify-content: center;
        width: 406px; /* 維持canvas的寬度為406px */
        height: 600px; /* 維持canvas的高度為600px */
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
    }

    #CanvasSummonResult {
        position: absolute;
        text-align: center;
        justify-content: center;
        width: 406px; /* 維持canvas的寬度為406px */
        height: 600px; /* 維持canvas的高度為600px */
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
    }

    #CanvasStore {
        text-align: center;
        position: relative;
        justify-content: center;
        width: 406px; /* 維持canvas的寬度為406px */
        height: 600px; /* 維持canvas的高度為600px */
        display: none;
    }


    #popup {
        font-family: 微軟正黑體;
        position: absolute;
        text-align: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.5);
        width: 406px; /* 維持canvas的寬度為406px */
        height: 600px; /* 維持canvas的高度為600px */
        display: none;
        z-index: 99;
    }


    .canvas-container {
        display: flex;
        justify-content: center;
        background: transparent;
        background-image: url('/images/game/gameIndex_BG.png'); /* 設定背景圖片路徑 */
        background-size: cover;
        background-position: center;
        font-family: monospace !important;
    }


    #commonbackBTN {
        background: transparent;
        width: 57px; /* 設定按鈕寬度 */
        height: 50px; /* 設定按鈕高度 */
        background-image: url('/images/game/Icon_ArrowLeft.png'); /* 設定背景圖片路徑 */
        background-size: cover; /* 設定背景圖片覆蓋整個按鈕 */
        background-position: center; /* 設定背景圖片居中對齊 */
        border: none; /* 移除按鈕邊框 */
        position: absolute;
        left: 5%;
        top: -405%;
    }


    .btn-content {
        display: flex;
        flex-direction: column;
        height: 50px;
        justify-content: space-around;
    }

    .btns {
        display: flex;
        justify-content: center;
        margin: 5px 0 0 0;
    }

    .btn {
        width: 105px;
        padding: 5px 5px;
        background-color: #f0cf75;
        color: black;
        border: solid black 1px;
        border-radius: 5px;
        margin: 0px 5px;
        cursor: pointer;
    }


@media (max-width: 767px) {

   
}
