@{
    ViewData["Title"] = "Login";
    Layout = null; // 不使用佈局
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/login.css">
    <link href="/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!---字型-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap" rel="stylesheet">

    <title>後台登入頁-貓抓抓</title>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-xl-8 col-lg-9 col-md-8 col-sm-10">
                <div class="card" style="box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="login-right-card p-3 m-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                    </div>
                                    <form class="user">
                                        <div class="form-group mb-4">
                                            <input type="email" class="form-control form-control-user"
                                                   id="exampleInputEmail" aria-describedby="emailHelp" placeholder="帳號"
                                                   style="border-radius: 30px;">
                                        </div>
                                        <div class="form-group mb-4">
                                            <input type="password" class="form-control form-control-user"
                                                   id="exampleInputPassword" placeholder="密碼" style="border-radius: 30px;">
                                        </div>
                                        <a href="javascript:;" class="btn btn-primary btn-user btn-block"
                                           style="width: 100%;border-radius: 30px;">
                                            登入
                                        </a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
