@{
    ViewData["Title"] = "ImageModerator";
}


@section Styles{
    <!-- Bootstrap CSS -->
    <!-- Site CSS -->
    <link rel="stylesheet" href="~/css/style.css" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/css/responsive.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/custom.css" />
    <link rel="stylesheet" href="~/css/custom-home-details-wishlist.css" />
}
<!--提示訊息-->
<div class="toast-container position-fixed top-25 start-50 translate-middle">

    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="..." class="rounded me-2" alt="...">
            <strong class="me-auto">訊息</strong>
            <small></small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
        </div>
    </div>
</div>

<!-- Start All Title Box -->
<div class="all-title-box all-title-box-picture">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>會員中心</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Index" asp-action="Index">首頁</a></li>
                    <li class="breadcrumb-item active">會員中心</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start Shop Detail  -->

<div class="shop-detail-box-main">
    <div class="container">
        <div class="row">
            <!--左邊圖片區-->
            <div class="col-xl-6 col-lg-6 col-md-6">
                <form method="post" enctype="multipart/form-data" id="imgForm">
                    <img id="imgPreview" src='@Url.Content("~/images/noimage.jpg")' alt="請放入圖片" class="d-block w-100" style="max-width: 400px; max-height: 400px;" />
                    <div class="my-3">
                        <input type="hidden" name="memberIdForMembership" value="@ViewBag.memberIdForMembership">
                        <input type="text" name="AnnouncementContent" value="personalPicture" style="display: none;" />
                        <input type="file" name="image" id="imageInput" accept="image/*">
                        <button type="submit" id="imgChangeUrl">上傳圖片</button>
                    </div>
                </form>
                <div >
                    <h2>審核結果</h2>
                    <textarea class="form-control fs-5 m-lg-1" aria-label="With textarea" id="imageResults" rows="2"></textarea>
                </div>
            </div>
            <!--右邊文字審核區-->
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div>
                    <h2>圖像審核</h2>
                    <textarea class="form-control fs-5 m-lg-1" aria-label="With textarea" id="checkResults" rows="3"></textarea>
                </div>
                <div class="my-4">
                    <h2>圖像描述</h2>
                    <textarea class="form-control fs-5 m-lg-1" aria-label="With textarea" id="descriptionResults" rows="2"></textarea>
                </div>
                <div class="my-4">
                    <h2>圖像識別</h2>
                    <textarea class="form-control fs-5 m-lg-1" aria-label="With textarea" id="visionResults" rows="7"></textarea>
                </div>
            </div>
        </div>

        <!-- start 展開區域 -->
        <div class="card-header">
        </div>
        <!-- end 展開區域 -->

    </div>
</div>

@section Scripts{
    <!-- ALL JS FILES -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="~/js/jquery.superslides.min.js"></script>
    <script src="~/js/bootstrap-select.js"></script>
    <script src="~/js/inewsticker.js"></script>
    <script src="~/js/bootsnav.js."></script>
    <script src="~/js/images-loded.min.js"></script>
    <script src="~/js/isotope.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/baguetteBox.min.js"></script>
    <script src="~/js/form-validator.min.js"></script>
    <script src="~/js/contact-form-script.js"></script>
    <script src="~/js/custom.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $('#imgChangeUrl').click(function () {
                event.preventDefault();

                // 取得表單元素
                const form = document.querySelector('#imgForm');

                const formData = new FormData(form);
                fetch('@Url.Content("/ImageTest/UploadImage")', {
                    body: formData,
                    method: 'POST'
                })
                    .then(response => response.json())
                    .then(data => {
                        //取到照片連結了
                        console.log(data.url);


                        // 圖片辨識的地方
                        var visionParams = {
                            "visualFeatures": "Adult,Brands,Categories,Color,Description,Faces,ImageType,Adult,Objects,Tags",
                            "language": "zh",
                            "model-version": "latest",
                        };
                        var visionData = {
                            url: data.url
                        };

                        // 開始圖片辨識
                        $.ajax({
                            url: "https://msit150team02visionv2.cognitiveservices.azure.com/vision/v3.2/analyze?" + $.param(visionParams),
                            beforeSend: function (xhrObj) {
                                // Request headers
                                xhrObj.setRequestHeader("Content-Type", "application/json");
                                xhrObj.setRequestHeader("Ocp-Apim-Subscription-Key", "8a28a79b86204412a7eea6b22b467f0d");
                            },
                            type: "POST",
                            // Request body
                            data: JSON.stringify(visionData),
                        }).done(function (visionResult) {

                            var text = visionResult['description']['captions'][0]['text'];
                            var confidence = visionResult['description']['captions'][0]['confidence'];
                            var descriptionText = `內容:${text}\n準確度:${(confidence * 100).toFixed(2)}%`;


                            console.log("\n顏色：");
                            console.log(visionResult.color.dominantColorForeground);   //前景主顏色
                            console.log(visionResult.color.dominantColorBackground);  //背景主顏色
                            console.log(visionResult.color.dominantColors);  //主顏色

                            console.log("\n所有標籤：");
                            var tagText = "";
                            visionResult.tags.forEach(function (tag) {
                                tagText += tag.name + " / ";
                            });

                            var visionText = "分類: " + visionResult.categories[0].name + "\n" +
                            "特點: " + tagText  + "\n" +
                                "構成主色: " + visionResult.color.dominantColors + "\n" +
                                "尺寸: 高度 " + visionResult.metadata.height * 0.04 + "公分 、 寬度 " + visionResult.metadata.width * 0.04 + "公分\n" +
                                "檔案類型: " + visionResult.metadata.format + "檔";
                            
                            // 圖片仲裁的地方
                            var moderationData = {
                                "DataRepresentation": "URL",
                                "Value": data.url
                            };
                            $.ajax({
                                url: "https://msit150team02contentmoderator.cognitiveservices.azure.com/contentmoderator/moderate/v1.0/ProcessImage/Evaluate",
                                beforeSend: function (xhrObj) {
                                    xhrObj.setRequestHeader("Content-Type", "application/json");
                                    xhrObj.setRequestHeader("Ocp-Apim-Subscription-Key", "b4fcd4ce931442748ba5e0467bccfd67");
                                },
                                type: "POST",
                                data: JSON.stringify(moderationData),
                            }).done(function (moderationResult) {

                                var Category1 = moderationResult['AdultClassificationScore'];
                                var Category2 = moderationResult['RacyClassificationScore'];
                                var Category3 = visionResult.adult.goreScore;

                                var isImageAdultClassified = moderationResult['IsImageAdultClassified'] ? '是' : '非';
                                var isImageRacyClassified = moderationResult['IsImageRacyClassified'] ? '是' : '非';
                                var isGoryContent = visionResult.adult.isGoryContent ? '是' : '非';

                                /*
                                console.log("成人冒犯指數: " + (Category1 * 10000).toFixed(2) + "%，平台判斷" + isImageAdultClassified + "成人內容");
                                console.log("種族冒犯指數: " + (Category2 * 10000).toFixed(2) + "%，平台判斷" + isImageRacyClassified + "種族歧視");
                                document.getElementById('checkResults').value = JSON.stringify(moderationResult);
                                */

                                var checkText = "成人冒犯指數: " + (Category1 * 100).toFixed(2) + "%，平台判斷" + isImageAdultClassified + "成人內容\n" +
                                    "種族冒犯指數: " + (Category2 * 100).toFixed(2) + "%，平台判斷" + isImageRacyClassified + "種族歧視\n" +
                                    "露骨暴力指數: " + (Category3 * 100).toFixed(2) + "%，平台判斷" + isGoryContent + "衝擊畫面\n";

                                document.getElementById('checkResults').value = checkText;
                                document.getElementById('visionResults').value = visionText;
                                document.getElementById('descriptionResults').value = descriptionText;

                            }).fail(function (err) {
                                alert(err.statusText);
                            });
                        }).fail(function (err) {
                            alert(err.statusText);
                        });

                    })
                    .catch(error => {
                        console.log("error");
                    });
                    

                    
            });


            //圖片預覽功能
            document.getElementById('imageInput').addEventListener('change', function (event) {
                var previewImage = document.getElementById('imgPreview');
                var selectedImage = event.target.files[0];

                if (selectedImage) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        previewImage.src = e.target.result;
                    };
                    reader.readAsDataURL(selectedImage);
                } else {
                    previewImage.src = '@Url.Content("~/images/noimage.jpg")';
                }
            });

        });

        function translateToChinese(text) {
            const apiKey = 'AIzaSyDjA50x02Nr2jNygjLbdGIa_RPRXuEWEiA';
            const sourceLang = 'en';
            const targetLang = 'zh-TW';

            const apiUrl = `https://translation.googleapis.com/language/translate/v2?key=$AIzaSyDjA50x02Nr2jNygjLbdGIa_RPRXuEWEiA`;
            const data = {
                q: text,
                source: sourceLang,
                target: targetLang
            };

            return fetch(apiUrl, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(result => {
                    if (result.data && result.data.translations && result.data.translations.length > 0) {
                        return result.data.translations[0].translatedText;
                    } else {
                        return text;
                    }
                })
                .catch(error => {
                    console.error('Translation error:', error);
                    return text;
                });
        }
    </script>
}
