
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form method="post" enctype="multipart/form-data" action="/ImageTest/UploadImage">
    <input type="text" name="AnnouncementContent" />
    <input type="file" name="image" />
    <button type="submit">Upload</button>
</form>
