@{
    ViewData["Title"] = "Shop";
}

@section Styles{
    <!-- Site Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <!-- Site CSS -->
    <link rel="stylesheet" href="~/css/style.css" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/css/responsive.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/custom.css" />
    <link rel="stylesheet" href="~/css/shop.css">
    <link rel="stylesheet" href="~/css/custom-home-details-wishlist.css" />
}

<!-- Start All Title Box -->
<div class="categories-shop">
    <div class="container">
        <div class="title-all text-left">
            <!--增加:Start當前分類-->
            <h1>[當前分類]</h1>
        </div>
        <!--增加:End當前分類-->
        <div class="row">
            <div class="col-md-2 col-4">
                <div class="shop-cat-boxs">
                    <a href="#">
                        <img class="img-fluid" src="~/images/categories_img_01.jpg" alt="" />
                        <span>安心正餐</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-4">
                <div class="shop-cat-boxs">
                    <a href="#">
                        <img class="img-fluid" src="~/images/categories_img_01.jpg" alt="" />
                        <span>安心正餐</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-4">
                <div class="shop-cat-boxs">
                    <a href="#">
                        <img class="img-fluid" src="~/images/categories_img_01.jpg" alt="" />
                        <span>安心正餐</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-4">
                <div class="shop-cat-boxs">
                    <a href="#">
                        <img class="img-fluid" src="~/images/categories_img_01.jpg" alt="" />
                        <span>安心正餐</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-4">
                <div class="shop-cat-boxs">
                    <a href="#">
                        <img class="img-fluid" src="~/images/categories_img_01.jpg" alt="" />
                        <span>安心正餐</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-4">
                <div class="shop-cat-boxs">
                    <a href="#">
                        <img class="img-fluid" src="~/images/categories_img_01.jpg" alt="" />
                        <span>安心正餐</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Categories -->
<!-- Start Shop Page  -->
<div class="shop-box-inner">
    <div class="container">
        <div class="row">
            <div class="shop-content-right">
                <div class="right-product-box">
                    <div class="d-flex text-center align-items-center flex-wrap justify-content-between mb-4">
                        <h3>篩選 <i class="fa-solid fa-grip-lines-vertical"></i></h3>
                        <div class=" shop-filter-select pt-1">
                            <label class="switch pt-1">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                            <span>最熱銷</span>
                        </div>
                        <div class="shop-filter-select ">
                            <select class="form-select form-select-md" aria-label="排序方式">
                                <option selected>商品排序</option>
                                <option value="2">上架時間:新到舊</option>
                                <option value="3">上架時間:舊到新</option>
                                <option value="4">價格:高至低</option>
                                <option value="4">價格:低至高</option>
                            </select>
                        </div>
                        <div class="shop-filter-select  ">
                            <select class="form-select form-select-md" aria-label="品牌篩選">
                                <option selected>以品牌篩選</option>
                                <option value="2">貓抓嚴選</option>
                                <option value="3">貓貓01</option>
                                <option value="4">好貓貓</option>
                                <option value="4">壞貓貓</option>
                            </select>
                        </div>
                        <div class="filter-btn">
                            <button class="btn hvr-hover  item-d" type="submit">篩選</button>
                        </div>
                    </div>
                    <div class="d-flex text-center align-items-center justify-content-between">
                        <span> 共 x 項商品</span>
                        <div class="filter">
                            <span>顯示</span>
                            <div class="shop-filter-select">
                                <select class="form-select" aria-label="顯示多少筆數">
                                    <option value="1" selected>10</option>
                                    <option value="2">20</option>
                                    <option value="3">30</option>
                                    <option value="4">40</option>
                                </select>
                            </div>
                            <span>筆</span>
                        </div>
                    </div>
                    <!-- start 商品圖示 -->
                    <div class="product-categorie-box">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                <div class="row">
                                    <!-- start prod1 -->
                                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                        <div class="products-single fix">
                                            <div class="box-img-hover shop-image">
                                                <div class="type-lb">
                                                    <p class="sale">Sale</p>
                                                </div>
                                                <a asp-controller="Index" asp-action="ShopDetail">
                                                    <img src="~/images/img-pro-01.jpg" class="img-fluid" alt="Image" />
                                                </a>
                                            </div>
                                            <div class="why-text">
                                                <h4>喵洽普 | 貓咪營養肉泥</h4>
                                                <h5>$65</h5>
                                                <a asp-controller="Cart" asp-action="Cart" type="button" class="add-to-cart-coustom">
                                                    <i class="fa-solid fa-cart-plus"></i>
                                                </a>
                                                <a asp-controller="Membership" asp-action="Membership" class="add-to-wishlist-coustom" type="button">
                                                    <i class="far fa-heart"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end prod1 -->
                                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                        <div class="products-single fix">
                                            <div class="box-img-hover shop-image">
                                                <div class="type-lb">
                                                    <p class="sale">Sale</p>
                                                </div>
                                                <a asp-controller="Index" asp-action="ShopDetail">
                                                    <img src="~/images/img-pro-01.jpg" class="img-fluid" alt="Image" />
                                                </a>
                                            </div>
                                            <div class="why-text">
                                                <h4>喵洽普 | 貓咪營養肉泥</h4>
                                                <h5>$65</h5>
                                                <a asp-controller="Cart" asp-action="Cart" type="button" class="add-to-cart-coustom">
                                                    <i class="fa-solid fa-cart-plus"></i>
                                                </a>
                                                <a asp-controller="Membership" asp-action="Membership" class="add-to-wishlist-coustom" type="button">
                                                    <i class="far fa-heart"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                        <div class="products-single fix">
                                            <div class="box-img-hover shop-image">
                                                <div class="type-lb">
                                                    <p class="sale">Sale</p>
                                                </div>
                                                <a asp-controller="Index" asp-action="ShopDetail">
                                                    <img src="~/images/img-pro-01.jpg" class="img-fluid" alt="Image" />
                                                </a>
                                            </div>
                                            <div class="why-text">
                                                <h4>喵洽普 | 貓咪營養肉泥</h4>
                                                <h5>$65</h5>
                                                <a asp-controller="Cart" asp-action="Cart" type="button" class="add-to-cart-coustom">
                                                    <i class="fa-solid fa-cart-plus"></i>
                                                </a>
                                                <a asp-controller="Membership" asp-action="Membership" class="add-to-wishlist-coustom" type="button">
                                                    <i class="far fa-heart"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                        <div class="products-single fix">
                                            <div class="box-img-hover shop-image">
                                                <div class="type-lb">
                                                    <p class="sale">Sale</p>
                                                </div>
                                                <a asp-controller="Index" asp-action="ShopDetail">
                                                    <img src="~/images/img-pro-01.jpg" class="img-fluid" alt="Image" />
                                                </a>
                                            </div>
                                            <div class="why-text">
                                                <h4>喵洽普 | 貓咪營養肉泥</h4>
                                                <h5>$65</h5>
                                                <a asp-controller="Cart" asp-action="Cart" type="button" class="add-to-cart-coustom">
                                                    <i class="fa-solid fa-cart-plus"></i>
                                                </a>
                                                <a asp-controller="Membership" asp-action="Membership" class="add-to-wishlist-coustom" type="button">
                                                    <i class="far fa-heart"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                        <div class="products-single fix">
                                            <div class="box-img-hover shop-image">
                                                <div class="type-lb">
                                                    <p class="sale">Sale</p>
                                                </div>
                                                <a asp-controller="Index" asp-action="ShopDetail">
                                                    <img src="~/images/img-pro-01.jpg" class="img-fluid" alt="Image" />
                                                </a>
                                            </div>
                                            <div class="why-text">
                                                <h4>喵洽普 | 貓咪營養肉泥</h4>
                                                <h5>$65</h5>
                                                <a asp-controller="Cart" asp-action="Cart" type="button" class="add-to-cart-coustom">
                                                    <i class="fa-solid fa-cart-plus"></i>
                                                </a>
                                                <a asp-controller="Membership" asp-action="Membership" class="add-to-wishlist-coustom" type="button">
                                                    <i class="far fa-heart"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                        <div class="products-single fix">
                                            <div class="box-img-hover shop-image">
                                                <div class="type-lb">
                                                    <p class="sale">Sale</p>
                                                </div>
                                                <a asp-controller="Index" asp-action="ShopDetail">
                                                    <img src="~/images/img-pro-01.jpg" class="img-fluid" alt="Image" />
                                                </a>
                                            </div>
                                            <div class="why-text">
                                                <h4>喵洽普 | 貓咪營養肉泥</h4>
                                                <h5>$65</h5>
                                                <a asp-controller="Cart" asp-action="Cart" type="button" class="add-to-cart-coustom">
                                                    <i class="fa-solid fa-cart-plus"></i>
                                                </a>
                                                <a asp-controller="Membership" asp-action="Membership" class="add-to-wishlist-coustom" type="button">
                                                    <i class="far fa-heart"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                        <div class="products-single fix">
                                            <div class="box-img-hover shop-image">
                                                <div class="type-lb">
                                                    <p class="sale">Sale</p>
                                                </div>
                                                <a asp-controller="Index" asp-action="ShopDetail">
                                                    <img src="~/images/img-pro-01.jpg" class="img-fluid" alt="Image" />
                                                </a>
                                            </div>
                                            <div class="why-text">
                                                <h4>喵洽普 | 貓咪營養肉泥</h4>
                                                <h5>$65</h5>
                                                <a asp-controller="Cart" asp-action="Cart" type="button" class="add-to-cart-coustom">
                                                    <i class="fa-solid fa-cart-plus"></i>
                                                </a>
                                                <a asp-controller="Membership" asp-action="Membership" class="add-to-wishlist-coustom" type="button">
                                                    <i class="far fa-heart"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                        <div class="products-single fix">
                                            <div class="box-img-hover shop-image">
                                                <div class="type-lb">
                                                    <p class="sale">Sale</p>
                                                </div>
                                                <a asp-controller="Index" asp-action="ShopDetail">
                                                    <img src="~/images/img-pro-01.jpg" class="img-fluid" alt="Image" />
                                                </a>
                                            </div>
                                            <div class="why-text">
                                                <h4>喵洽普 | 貓咪營養肉泥</h4>
                                                <h5>$65</h5>
                                                <a asp-controller="Cart" asp-action="Cart" type="button" class="add-to-cart-coustom">
                                                    <i class="fa-solid fa-cart-plus"></i>
                                                </a>
                                                <a asp-controller="Membership" asp-action="Membership" class="add-to-wishlist-coustom" type="button">
                                                    <i class="far fa-heart"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                        <div class="products-single fix">
                                            <div class="box-img-hover shop-image">
                                                <div class="type-lb">
                                                    <p class="sale">Sale</p>
                                                </div>
                                                <a asp-controller="Index" asp-action="ShopDetail">
                                                    <img src="~/images/img-pro-01.jpg" class="img-fluid" alt="Image" />
                                                </a>
                                            </div>
                                            <div class="why-text">
                                                <h4>喵洽普 | 貓咪營養肉泥</h4>
                                                <h5>$65</h5>
                                                <a asp-controller="Cart" asp-action="Cart" type="button" class="add-to-cart-coustom">
                                                    <i class="fa-solid fa-cart-plus"></i>
                                                </a>
                                                <a asp-controller="Membership" asp-action="Membership" class="add-to-wishlist-coustom" type="button">
                                                    <i class="far fa-heart"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end 商品圖示 -->
                            <div class="text-center ">
                                <button class="btn-custom btn hvr-hover">
                                    顯示更多<i class="fas fa-angle-down"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <!-- ALL JS FILES -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="~/js/jquery.superslides.min.js"></script>
    <script src="~/js/bootstrap-select.js"></script>
    <script src="~/js/inewsticker.js"></script>
    <script src="~/js/bootsnav.js."></script>
    <script src="~/js/images-loded.min.js"></script>
    <script src="~/js/isotope.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/baguetteBox.min.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/jquery.nicescroll.min.js"></script>
    <script src="~/js/form-validator.min.js"></script>
    <script src="~/js/contact-form-script.js"></script>
    <script src="~/js/custom.js"></script>
}

