
@{
    ViewData["Title"] = "DataAnalysis";
    Layout = "~/Areas/AdminCMS/Views/Shared/CMS_Layout.cshtml";
}

@section Styles{
    
}

<div class="middle-content">

    <h2 class="mt-3">數據分析</h2>


    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-12">
            </div>
        </div>
    </div>

</div>

@section Scripts{

}