
/** ADD YOUR AWESOME CODES HERE **/
.for_header_twoIcon {
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 2rem;
    background-color: red;
    color: white;
    position:absolute;
    width:1rem;
}
.material-symbols-outlined, .Login span {
    display: inline-block;
    vertical-align: top;  
}

.all-title-box-picture {
    background-image: url(../images/CatCha/Cart_BigTitle.jpg);
}

  