


.quantity-box input {
    width: 60%;
}

.cart-box {
    text-align: center;
}

.all-title-box-picture {
    background-image: url(../images/CatCha/Cart_BigTitle.jpg);
}

.catCoin-Margin {
    margin-top: 10px;
}

.shopping-box a {
    border-radius: 5px;
    background: #b4793594;
}

    .shopping-box a:hover {
        background-color: #B98046;
    }

.coupon-box {
    font-size: 18px;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
}

.coupon-box-a {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coupon-box-btn, .side-bar-btn, {
    border-radius: 5px;
}

.checkout-btn {
    border-radius: 5px;
    background: #b4793594;
    color: #ffffff;
}

#getCouponList .coupon-content {
    margin-bottom: 20px;
    position: relative;
    border: 1px solid #999;
    border-radius: 4px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

#getCouponList .coupon-left {
    flex-direction: row-reverse;
}

.flex-1 {
    flex: 1;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

#getCouponList .coupon-intro {
    width: 120px;
    margin-right: 0;
    padding: 10px;
    border: none;
    align-items: center;
}

.text-center {
    text-align: center;
}

#getCouponList .coupon-middle {
    display: block;
    margin: 0;
    border: none;
    padding: 10px 0;
}

#getCouponList .coupon-tag {
    padding: 3px;
    background: #b4793594;
    color: #fff;
    font-weight: bold;
}

#getCouponList .coupon-name {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

#getCouponList .coupon-description {
    margin: 10px 0 0;
    padding-left: 10px;
    font-size: 14px;
    color: #000;
}

#getCouponList .coupon-time {
    margin: 10px 0 0;
    padding-left: 10px;
    color: #666;
}

#getCouponList .coupon-status {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    width: 100%;
    border: none;
    margin-left: -1px;
}



.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

#getCouponList .coupon-status-left .coupon-code {
    font-size: 20px;
}

#getCouponList .coupon-code {
    font-size: 24px;
    font-weight: bold;
}

#getCouponList .coupon-status button {
    border: 2px solid #b4793594;
    background: #b4793594;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 0 10px;
    width: 100px;
}

 #getCouponList .coupon-status button:hover 
 {
        background-color: #B98046;
 }


#getCouponList .coupon_cancel button {
    border: 2px solid #b4793594;
    background: #b4793594;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 0 10px;
    width: 100px;
}

.coupon-btn, .chooseStore_btn {
    padding: 6px;
    border-radius: 5px; /* 圓角 */
    background-color: #b4793594; /* 背景顏色 */
    color: white; /* 字體顏色 */
    border: 2px #b4793594;
    transition: background-color 0.3s ease;
    &:hover

{
    background-color: #B98046;
}

}

.addressBox_modal {
    text-align: center;
}

#nav-home ul, #nav-profile ul, #DeliveryMethod_nav-tabContent ul, .customer_info, .invoice-size {
    font-size: 16px;
    margin-top: 10px;
}


/*讓分頁按鈕的字體顏色改變*/
.nav-tabs button {
    color: #DE9E4F;
    background-color: #FDFCFC;
}

/*讓分頁裡的按鈕移至超連結的顏色都是橘色*/
.nav-tabs .nav-link:hover {
    color: orange;
}


.Einvoice-style {
    text-align: center;
}

.einvoice-link {
    color: #0000C6;
}

.einvoice-color {
    color: #AE0000;
}

.payment-icon-mycss {
    padding: 20px 0px
}

    .payment-icon-mycss ul li {
        width: 25%;
    }

.form-check-input:checked {
    background-color: #b4793594;
    border-style: none;
    box-shadow: none;
}

.nav-ATM-css {
    color: #AE0000
}

.nav-ATM-fontSize {
    font-size: 13px;
}

#loginModal .btn-primary, .btn-light, #forgotPasswordModal .btn-primary {
    color: #ffffff;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: #b4793594;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border-radius: 5;
    box-shadow: none;
    border: none;
}


    #loginModal .btn-primary:hover, .btn-light:hover, #forgotPasswordModal .btn-primary:hover {
        background-color: #B98046; /* 滑鼠移過去的背景色 */
        color: #fff;
    }

.link-color {
    color: #67451D !important;
}

    .link-color:hover {
        color: #AF7431;
    }


/*
.input-group-border{
    border-color: #EDD8C0;
    border-style: solid;
    border-radius: 10px;
}*/

/*
.input-group-color{
    border: solid #EDD8C0;
background-color:#EDD8C0 ;
}*/

.form-check-input:checked {
    background-color: #b4793594;
    border-color: #b4793594;
}

.icon img {
    width: 100px;
    height: 100px;
}

/* -------------------start footer部分顏色------------------*/
.footer-top-box h3::before {
    border-bottom: 2px solid #f8f9fa;
    content: "";
    height: 3px;
    width: 50%;
    position: absolute;
    bottom: 3px;
    left: 0px;
}

.footer-widget h4::before {
    border-bottom: 3px solid #f8f9fa;
    content: "";
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 3px;
    left: 0px;
}

.footer-link h4::before {
    border-bottom: 3px solid #f8f9fa;
    content: "";
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 3px;
    left: 0px;
}

.footer-link-contact h4::before {
    border-bottom: 3px solid #f8f9fa;
    content: "";
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 3px;
    left: 0px;
}

.footer-link ul li a:hover {
    color: #000000;
    border-color: #000000;
    padding-left: 20px;
}


.footer-link-contact ul li p a:hover {
    color: #000000;
}

.footer-top-box ul li a:hover {
    color: #000000;
    border-color: #000000;
}

.single-product-details ul {
    display: inline-block;
    width: 100%;
    border: 1px #000000 dashed;
    margin-bottom: 30px;
    padding-bottom: 10px;
}
/* -------------------end footer部分顏色------------------*/

.checokoutbtn {
    color: #ffffff
}

/* 自訂錯誤訊息的文字顏色 */
.error-message-color {
    color: red !important;
    font-size: 15px !important;
    font-family: 'Dosis', sans-serif;
    line-height: 1.80857;
}

.form-control[readonly] {
    background-color: #F8F0E7 !important;
}

/*MemberLogin頁面logo*/
.logo-wrapper:hover {
            transform: scale(1.1); /* 放大 10% */
            transition: transform 0.3s ease-in-out; /* 添加平滑過渡效果 */
        }

/*Cart頁面垃圾桶圖樣樣式*/
.trashBtn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0; /* 清除默認的 padding，使按鈕更小 */
}
.trashBtn:hover {
    transform: scale(1.3); /* 放大 10% */
    transition: transform 0.3s ease-in-out; /* 添加平滑過渡效果 */
}
.bi-trash {
    color: #b4793594;
}
body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.custom-size {
    width: 400px; /* 調整視窗寬度 */
    height: 300px; /* 調整視窗高度 */
}

/*Cart頁面垃圾桶圖樣樣式End*/

.checkout-inputs {
    background-color: #F8F0E7;
    border: solid #dee2e6;
    border-radius:5px;
}
